.jumbotron {
    padding: 1rem 1rem;;
    margin-bottom: 100px;
    }

.manjse {
    font-size: 12px;
    margin-top: 5px;
}

.lezece {
    font-style: italic;
    font-size: 20px;
}

.naslov {
    margin-top:30px;
}

.mar-cards {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mar-between-cards {
    margin-top: 20px;
    margin-bottom: 20px;
}

.upper-padding {
    padding-top: 56px;
}

/* kodo spodaj za html body in footer sem dodal da je footer zmeraj spodaj (ne glede na vsebino in da ni fiksno pozicioniran*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 56px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.send-message {
    margin-top: 50px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #17a2b8;
  border-radius: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(23, 162, 184, 0.75);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.barva {
    color: #17a2b8;
}


.style-ul {
    list-style-type: none;
    margin:0;
    padding:0;
    background-color: rgba(23, 162, 184, 0.2);
    width: 100%;
    height: calc(100vh - 112px); /*vh pomeni visible height in se prilagaja velikosti zaslona s funkcijo calc pa lahko racunamo direktno v css*/
    overflow-y: auto;
}

.style-li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.style-li a:hover {
    background-color: rgba(23, 162, 184, 0.7);
    color: white;
}

#overflow-right {
    height: calc(100vh - 112px);
    overflow-y: auto;
    text-decoration: none !important;
}

.kontejner {
    margin-right: 15px;

}

.display-5 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.w-51 {
  width: 51% !important;
}

.sirina-input{
  width: 300px;
}


