{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block body %}
<h1>Bmail</h1>

{% if logiran %}
    <h1>Živjo, {{ user.email() }}!</h1>

    <p>
        <a href="/send_message">Pošlji sporočilo</a>
    </p>

    <p>
        <a href="{{ logout_url }}">Odjava</a>
    </p>

    <p>
        <a href="/inbox">Prejeta sporocila</a>
    </p>

    <p>
        <a href="/outbox">Poslana sporocila</a>
    </p>

    <p>
        <a href="/conversation">Pogovori</a>
    </p>

    <p>
        <a href="/weather">Trenutno vreme</a>
    </p>
{% else %}
    <h1>Živjo anonimnež!</h1>

    <p>Prosim prijavi se: <a href="{{ login_url }}">Login</a></p>
{% endif %}

{% endblock body %}