{% extends "base.html" %}

{% block title %} Inbox {% endblock title %}

{% block body %}

<h3 class="ml-5 mt-3 barva">Inbox for {{ user.email() }}: </h3>

<div class="ml-5">
{% for sporocilo in prejeta_sporocila %}
    <div class="card mar-between-cards w-50">
      <div class="card-header text-white">
        From: {{ sporocilo.posilatelj }}
      </div>
      <div class="card-body">
        <p class="card-text">{{ sporocilo.besedilo }}</p>
      </div>
      <div class="card-footer text-muted">
        Time recieved: {{ sporocilo.nastanek }}
      </div>
    </div>
{% endfor %}
</div>

{% endblock body %}

