{% extends "base.html" %}

{% block title %} Send message {% endblock title %}

{% block body %}
<div class="container send-message">
    <div class="row">
        <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <form method="post" action="/result">
                    <div class="form-group">
                        <label for="prejemnik">Send to: </label>
                        <br>
                        <input type="email" class="form-control" id="prejemnik" name="vnos-prejemnik" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="sporocilo">Message: </label>
                        <br>
                        <textarea class="form-control" id="sporocilo" name="vnos-sporocilo" placeholder="Enter your message" rows="5"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info">Send</button>
                    </div>
                </form>
            </div>
        <div class="col-lg-2"></div>
    </div>
</div>
{% endblock body %}