{% extends "base.html" %}

{% block title %} Send message {% endblock title %}

{% block body %}
<h1>Bmail</h1>
<h2>Uporabnik: {{ user.email() }}</h2>
<form method="post" action="/result">
    <label for="sporocilo">Vpiši sporočilo: </label>
    <input type="text" id="sporocilo" name="vnos-sporocilo">
    <br>
    <br>
    <label for="prejemnik">Vpiši prejemnika: </label>
    <input type="text" id="prejemnik" name="vnos-prejemnik">
    <br>
    <br>
    <button type="submit">Pošlji</button>
</form>
{% endblock body %}